daemonize = false
prosody_user = "prosody"
modules_enabled = {
		"roster";
		"saslauth";
		"tls";
		"dialback";
		"disco";
		"posix";
		"private";
		"vcard";
		"version";
		"uptime";
		"time";
		"ping";
		"pep";
		"register";
		"announce";
		"welcome";
		"watchregistrations";
		"motd";
                "smacks";
                "csi";
                "throttle_presence";
                "filter_chatstates";
                "onions";
		"blocking";
                "limit_auth";
};
plugin_paths = { "/usr/lib/prosody/modules/extra" }
allow_registration = true;
c2s_require_encryption = true;
s2s_secure_auth = false; -- TODO: hay que cambiarlo por seguridad
pidfile = "/var/run/prosody/prosody.pid"
authentication = "internal_hashed"
log = {
	info = "/var/log/prosody/prosody.log";
	error = "/var/log/prosody/prosody.err";
}
onions_tor_all = true
onions_only = false
limit_auth_period = 30
limit_auth_max = 5
welcome_message = "Bienvenida a este servidor, $user. Que te lo pases bien."
Component "sala.chat.cslabrecha.org" "muc"
    name = "Salas del Centro Social La Brecha"
VirtualHost "b4f6x7ecc7uocrxs.onion"
ssl = {
	dhparam = "/etc/prosody/certs/dhparam.pem";
        certificate = "/etc/prosody/certs/b4f6x7ecc7uocrxs.onion.crt";
        key = "/etc/prosody/certs/b4f6x7ecc7uocrxs.onion.key";
        options = { "no_sslv2", "no_sslv3", "no_tlsv1", "no_ticket", "no_compression", "cipher_server_preference", "single_dh_use", "single_ecdh_use" }
}
VirtualHost "chat.cslabrecha.org"
ssl = {
	dhparam = "/etc/prosody/certs/dhparam.pem";
        certificate = "/etc/prosody/certs/chat.cslabrecha.org.crt";
        key = "/etc/prosody/certs/chat.cslabrecha.org.key";
        options = { "no_sslv2", "no_sslv3", "no_tlsv1", "no_ticket", "no_compression", "cipher_server_preference", "single_dh_use", "single_ecdh_use" }
}
storage = "sql"
sql = {
        driver = "MySQL";
        database = "{{ xmpp_database }}";
        username = "{{ xmpp_database_username }}";
        password = "{{ xmpp_database_password }}";
        host = "{{ xmpp_database_host }}";
        port = "{{ xmpp_database_port }}"}
-- HTTP Upload
--https_ssl = {
--       certificate = "/etc/prosody/certs/imagenes.chat.cslabrecha.org.crt";
--       key = "/etc/prosody/certs/imagenes.chat.cslabrecha.org.key";
--}
--http_upload_file_size_limit = 4194304
--http_external_url = "https://imagenes.chat.cslabrecha.org"
--Component "imagenes.chat.cslabrecha.org" "http_upload"
